@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --cor-branca: #FFFFFF;
    --cor-do-titulo: #1f2937;
    --cor-do-texto: #344350;
    --cor-azul: #2563EB;
    --cor-azul-suave: #0055ff0e;
}

body {
    font-family: "Inter", serif;
    background-color: var(--cor-branca);
    font-size: 1em;
}

main {
    width: 100%;
    margin: auto;
    overflow: hidden;
    color: var(--cor-do-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    padding: 20px 70px;
}

.HeroIconCard {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
    width: 100%;
}

.HeroIconCard .IconCard {
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.HeroIconCard .IconCard .Icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: var(--cor-branca);
    color: var(--cor-azul);
    font-size: 1.8em;
    border-radius: 12px;
    position: relative;

    &:after {
        position: absolute;
        content: "";
        width: 52px;
        height: 52px;
        background-color: var(--cor-azul);
        background: linear-gradient(-45deg, var(--cor-azul), var(--cor-branca), var(--cor-azul));
        border-radius: 12px;
        z-index: -1;
    }
}

.HeroIconCard .IconCard .Titulo {
    color: var(--cor-do-titulo);
    font-weight: 700;
    font-size: large;
}

.HeroIconCard .IconCard .Texto {
    line-height: 1.6;
}

.HeroIconCard .IconCard a {
    display: flex;
    align-items: center;
    color: var(--cor-do-titulo);
    text-decoration: none;
    transition: .2s ease;

    &:hover {
        color: var(--cor-azul);
    }

    &:hover p {
        text-decoration: underline;
    }

    &:hover .IconCeta {
        transform: translateY(1px) translateX(10px);
    }
}

.HeroIconCard .IconCard .IconCeta {
    display: flex;
    align-items: center;
    font-size: 1.3em;
    transform: translateY(1px) translateX(5px);
    transition: .2s ease;
}