@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --cor-branca: #FFFFFF;
    --cor-do-titulo: #1f2937;
    --cor-do-texto: #585858;
    --cor-azul-suave: #f1f4fa;
}

body {
    font-family: "Inter", serif;
    background-color: var(--cor-branca);
    font-size: 1em;
}

.Titulo {
    font-weight: 700;
}

main {
    width: 100%;
    max-width: 1420px;
    margin: auto;
    overflow: hidden;
    color: var(--cor-do-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    padding: 20px 70px;
}

.HeroIconCard {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(291px, 1fr));
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.HeroIconCard .IconCard {
    margin: auto;
    width: 100%;
    max-width: 350px;
    height: 100%;
    text-decoration: none;
    padding: 20px;
    gap: 20px;
    display: flex;
    justify-content: space-between;
    transition: .2s ease;
    border-radius: 10px;
    color: var(--cor-do-titulo);

    &:hover {
        background-color: var(--cor-azul-suave);
    }

    &:hover .Link .Icon2 {
        transform: translateY(2px) translateX(5px);
    }
}

.HeroIconCard .IconCard .Icon {
    font-size: 2.5em;
}

.HeroIconCard .IconCard .Titulo {
    margin-bottom: 10px;
}

.HeroIconCard .IconCard .Detalhes .Texto p {
    line-height: 1.6;
    margin-bottom: 20px;
    color: var(--cor-do-texto);
}

.HeroIconCard .IconCard .Link {
    display: flex;
    align-items: center;
}

.HeroIconCard .IconCard .Link p {
    color: var(--cor-do-titulo);
}

.HeroIconCard .IconCard .Link .Icon2 {
    display: flex;
    font-size: 1.3em;
    transform: translateY(2px);
    transition: .2s ease;
}